{% extends 'clientes/base.html' %}

{% block titulo %}
Cadastro Cliente
{% endblock titulo %}

{% block conteudo %}
<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Data Naascimento</th>
        <th>Sexo</th>
    </tr>
    </thead>
    <tbody>
    {% for cliente in clientes %}
    <tr>
        <td><a href="{% url 'listar_cliente_id' cliente.id %}">{{ cliente.nome }}</a></td>
        <td>{{ cliente.data_nascimento | date:"d/m/Y" }}</td>
        <td>{{ cliente.sexo }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'cadastrar_cliente' %}">
    <button class="btn btn-primary">Cadastrar</button>
</a>
{% endblock conteudo %}
